<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="footer-logo">
          <img src="..\../assets/Tamweely-logo.jpg" alt="logo" class="img-fluid">
          <h3 class="footer-title">تمويلي للمشروعات متناهية الصغر</h3>
          <div class="social-media">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="footer-links">
          <li>
            <a href="#">من نحن</a>
          </li>
          <li>
            <a href="#">اتصل بنا</a>
          </li>
          <li>
            <a href="#">سياسة الخصوصية</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="footer-links">
          
          <li>
            <a href="#">خدماتنا</a>
          </li>
          <li>
            <a href="#">خدمات تمويل المشروعات</a>
          </li>
          <li>
            <a href="#">حلول تمويل المشروعات متناهية الصغر</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>&copy; جميع الحقوق محفوظة تمويلي {{currentYear}}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
